In [12]:
import pandas as pd
df = pd.read_json('https://api.spacexdata.com/v3/capsules')
df = df[["capsule_serial", "capsule_id"]]
df

   capsule_serial capsule_id
0            C101    dragon1
1            C102    dragon1
2            C103    dragon1
3            C104    dragon1
4            C105    dragon1
5            C106    dragon1
6            C107    dragon1
7            C108    dragon1
8            C109    dragon1
9            C110    dragon1
10           C111    dragon1
11           C112    dragon1
12           C113    dragon1
13           C201    dragon2
14           C205    dragon2
15           C206    dragon2
16           C202    dragon2
17           C203    dragon2
18           C204    dragon2

In [ ]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17
sudo pip install pyodbc
sudo pip install sqlalchemy

In [8]:
#Conectando com o banco de dados 
#Reparem que agora o driver não é mais SQL SERVER e sim ODBC Driver 17 for SQL Server
import sqlalchemy, pandas as pd,os,pyodbc
server =  'ec2-3-222-141-206.compute-1.amazonaws.com'
database = 'master'
username = 'aluno'
password = 'aluno123'
string_conexao = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC Driver 17 for SQL Server"
engine = sqlalchemy.create_engine(string_conexao)
engine.connect()

In [14]:
df.to_sql("capsules",con=engine,if_exists='replace',index=False)